body {
  margin: 0;
  text-align: center;
font-family: 'Merriweather', serif;
}

h1 {
  color: #66BFBF;
  font-size: 5.625rem;
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
}


h2{
  color: #66BFBF;
  font-family: 'Montserrat', sans-serif;
}

.subtitle{
  font-weight: normal;
}

h3{
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
}

hr{
  border-style: none;
  border-top-style: dotted;
  border-color: #EAF6F6;
  border-width: 4px;
  width: 5%;
  margin: 100px auto;
}

p{
  line-height: 2;
}

a{
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}

a:hover{
  color: #EAF6F6;
}

.topContainer {
  background-color: #EAF6F6;
  position: relative;
  padding-top: 100px;
  padding-bottom: 0;
}

.middleContainer {
  padding-top: 20px;
  background-color: #e8e4e1;
  padding-bottom: 10px;
}

.bottomContainer {
  background-color: #66bfbf;
  padding: 50px 0 20px;
}

.beginner {
  text-decoration: underline;
}

.topCloud {
  position: absolute;
  right: 300px;
  top: 50px;
}

.bottomCloud {
  position: absolute;
  left: 300px;
  bottom: 300px;
}

.mountain{
  padding-bottom: 0;
}

.profilePicture{
  border-radius: 100%;
}

.footer-link{
  color: #11999E;
}

.skill-row{
  width: 50%;
  margin: 100px auto;
  color: #40514E;
}

.skillsParagraph{
  text-align: left;
}

.computerGirl{
  width: 25%;
  float: left;
  margin-right: 30px;
}

.netflix{
  width: 25%;
  float: right;
  margin-left: 30px;
}

.BUTTON_SBR {
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 10px;
  color: #FFFFFF;
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  font-weight: bold;
  padding: 10px 20px 10px 20px;
  background-color: #3DD3F6;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  text-align: center;
  margin: 20px auto;
}

.intro{
   width: 20%;
   margin: auto;
}

.copyright{
  color: #EAF6F6;
  font-size: 0.75rem;
  padding: 10px 0;
}
